/TestGItFlow/TestGItFlow.xcodeproj/project.xcworkspace/xcuserdata/Michael_Zou.xcuserdatad/UserInterfaceState.xcuserstate
TestGItFlow/TestGItFlow.xcodeproj/project.xcworkspace/xcuserdata/Michael_Zou.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/FooAnimation-Master.xcworkspace/xcuserdata/zoudafu.xcuserdatad/UserInterfaceState.xcuserstate
